<div>

{{#if user.fullName}}

    <h1 class="m-3 fw-bold text-white">Hello {{user.fullName}}, lets get fit!</h1>

    {{else}}

    <h1 class="m-3 fw-bold text-white">Hello {{user.username}}, lets get fit!!</h1>


{{/if}}

    <br>
    <br>
    <br>

<h2 class="m-3">Profile</h2>

<h2>My Workout Routines</h2>

{{#if routines.0.username}}

    {{#each routines}}

        <a href="/routines/routine-details/{{_id}}">{{routineName}}</a>
        <br>

    {{/each}}

    {{else}}

    <p>No routines yet</p>

{{/if}}

<form action="/routines/create-routine" method="post">
    <input type="text" name="routineName">

<button type="submit">Add Routine</button>
</form>


</div>



